<section class="list">
      <ul>
        <li><a href="http://actongorton.com">Acton Gorton</a></li>
        <li><a href="http://backyardindustry.tumblr.com">Backyard Industry</a></li>
        <li><a href="http://zelip.me">Brian Zelip</a></li>
        <li><a href="http://www.chambanamoms.com">Chambana Moms</a></li>
        <li><a href="http://colaburbana.com">[co][lab]</a></li>
        <li><a href="http://cuwiki.net">CU Wiki</a></li>
        <li><a href="http://eblackcu.net">eBlack Champaign-Urbana</a></li>
        <li><a href="http://elizabethjsurbeck.info">Elizabeth J Surbeck</a></li>
        <li><a href="http://www.illinoisgba.org">Illinois Green Business Association</a></li>
        <li><a href="http://jeffginger.com">Jeff Ginger</a></li>
        <li><a href="http://kirkwoodwest.com">Kirkwood West</a></li>
        <li><a href="http://makerspaceurbana.org">Makerspace Urbana</a></li>
        <li><a href="http://medicinemountain.org">Medicine Mountain</a></li>
        <li><a href="http://www.neutralcycle.com">Neutral Cycle Workshop</a></li>
        <li><a href="http://pixotech.com">Pixo</a></li>
        <li><a href="http://psycray.com">PsyCray Web Design</a></li>
        <li><a href="http://py-cu.github.io/index.html">Py-CU</a></li>
        <li><a href="http://www.relunrelated.com">Relatively Unrelated</a></li>
        <li><a href="http://smilepolitely.com">Smile Politely</a></li>
        <li><a href="http://www.haasphotography.com">Stephen Haas Photography</a></li>
        <li><a href="http://webmasters.illinois.edu">University of Illinois Webmasters</a></li>
        <li><a href="http://urbanabasement.com">Urbana Basement</a></li>
        <li><a href="http://www.ufltechvolunteers.org">Urbana Free Library Tech Volunteers</a></li>
        <li><a href="http://urbanakickball.com">Urbana Kickball</a></li>
        <li><a href="http://www.ucimc.org">Urbana Champaign Independent Media Center</a></li>
        <li><a href="http://weft.org">WEFT 90.1fm</a></li>
      </ul>
    </section>
