<section class="outreach">
      <div class="call-to-action-wrapper">
        <h3>Your project too?</h3>
        <p class="call-to-action">Get on the list. Send an <a href="mailto:bzelip@gmail.com?subject=Add me to madewithloveinurbanachampaign.org" class="contact">email</a> or <a href="https://twitter.com/bzelip" class="contact">tweet</a> and place a 'Made with &hearts; in Urbana-Champaign' link on your site.</p>
      </div>
      <p class="rtfm">An easy way to make the link is to copy the following markup and paste it somewhere on your page.</p>
      <div class="code-wrapper">
        <p id="code1" onclick="selectText('code1')">&lt;a href=&quot;http://madewithloveinurbanachampaign.org&quot;&gt;Made with &amp;hearts; in Urbana-Champaign&lt;/a&gt;</p>
      </div>
      <p class="call-to-action">OR</p>
      <p class="rtfm">You could add a little extra flare using <a class="external" href="http://thenounproject.com">open</a> <a class="external" href="http://fontawesome.io">icons</a>. For a look similar to the top of this page, paste the following line wherever...</p>
      <div class="code-wrapper">
        <p id="code2" onclick="selectText('code2')">&lt;a href=&quot;http://madewithloveinurbanachampaign.org&quot;&gt;Made with &lt;i class=&quot;fa fa-heart&quot;&gt;&lt;/i&gt; in Urbana-Champaign&lt;/a&gt;</p>
      </div>
      <p class="rtfm">...and include the following line in the &lt;head&gt; section of your page.</p>
      <div class="code-wrapper">
        <p id="code3" onclick="selectText('code3')">&lt;link href=&quot;http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css&quot; rel=&quot;stylesheet&quot;&gt;</p>
      </div>
    </section>
